/** main.scss */
@use "global" as *;


/* Blog */
.blog {
	background-color: $white;
	max-width: unset;
	padding: 5% 10%;

	.title {
		@extend %base-title;
	}

	.process-list {
		margin-top: 40px;
		margin-bottom: 36px;

		.process {
            display: flex;
            gap: 0 20px;
			margin-bottom: 25px;

			& > div {
				& > h3 {
                    font-size: 25px;
					font-weight: 600;
					color: $dark-green-title;
                    margin-bottom: 0;
				}
				& > p {
					color: $dark-green-text;
					margin: 0;
				}
			}

			.process-icon {
				width: 60px;
				height: 60px;
				margin-right: 10px;
				text-align: center;

				img {
					height: 100%;
				}
			}
		}
	}

	button {
        font-size: 14px;
        color: $white;
        background-color: $dark-green-title;
        padding: 14px 18px;
        border-radius: 8px;
        border: 0;
		margin-bottom: 15px;
	}


    .card {
        .card-img-top {
            height: 200px;
            object-fit: cover;
        }
        .card-body {
            padding: 25px;
        }
        .card-title {
            font-size: 25px;
            color: $gray;
        }
        .metadata {
            font-size: 14px;
            .category {
                color: $light-green;
            }
            .read-time {
                color: $light-gray;
            }
        }
        .entry-content {
            color: $gray;
        }
        .author {
            display: flex;
            gap: 0 20px;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
            p {
                font-size: 14px;
                font-weight: bold;
                color: $gray;
            }
        }
    }
}





@media (max-width: 991px) {
    
    
}
